

/* COLOR VARIABLES */
:root {
    
    /* Buttons used for New Book and Add Book  */
    --mainButtons-bgcolor: rgb(240, 202, 243);
    --mainButtons-hover-bgcolor:rgb(241, 181, 245);
    --mainButtons-active-bgcolor: rgb(255, 0, 255);

    /* book card styling */
    --bookCard-bgcolor: rgb(249, 217, 222);
    /* unread button */
    --unreadButton-bgcolor:rgb(250, 246, 246);
    --unreadButton-hover-bgcolor:rgb(225, 235, 220);
    --unreadButton-active-bgcolor:rgb(199, 221, 188);
    /* read button */
    --readButton-bgcolor:white;
    --readButton-hover-bgcolor:rgb(225, 235, 220);
    --readButton-active-bgcolor: rgb(199, 221, 188);
    /* unread text color */
    --read-textcolor:green;
    /* read text color */
    --unread-textcolor:gray;
    /* remover button */
    --removerButton-bgcolor:rgb(248, 131, 88);
    --removerButton-hover-bgcolor:rgb(230, 98, 50);
    --removerButton-active-bgcolor:rgb(247, 78, 17);

    /*accent color for check in checkbox input*/
    --accentColor: rgb(227, 248, 88);
  }

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}

h3{
    padding:0;
    margin-top:0;
}

@keyframes append-animate {
	from {
		transform: scale(.9);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

#newBookFormContainer{
    display:none;
    border:1px solid black;
    border-radius:15px;
    padding:20px 30px 20px 30px;
    margin:20px;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.2);
    min-width:30vw;
    max-width:600px;
    /* animation: append-animate .3s linear; */
    animation: append-animate .2s ease-out;
}

#newBookForm{
    display:grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    justify-content:center;
    width:100%;
}

#newbooksubmit{
    display:grid;
    width:100%;
    /* width:fit-content; */
    justify-self: center;
}

.formitem{
    display:flex;
    margin-bottom:15px;
}

input[type="text"],input[type="number"], input[type="radio"]{
    height:1.4em;
}

input[type="text"]{
    width:100%;
}

input[type="checkbox"]{
    accent-color: var(--accentColor);
}

fieldset{
    border:0;
    padding:0;
    margin-bottom:10px;
}

#haveyoureadit{
    /* text-decoration: underline; */
    text-align:start;
}

.radioanswers{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    align-content: center;
    text-align: end;
}

.radioset{
    display:flex;
    align-items:center;
    padding-left:20px;
}

.radio{
    margin:5px;
    padding:2px;
}






legend{
    text-align:start;
    padding:0;
}

.button{
    padding:5px 10px 5px 10px;
    width:auto;
    border-style:none;
    box-shadow:1px 2px 3px rgba(216, 162, 162, 0.2);
    font-size:16px;
}

.button:active{
    transform: scale(1.02);
}

.mainbutton{
    background-color: var(--mainButtons-bgcolor);
}

.mainbutton:hover{
    background-color: var(--mainButtons-hover-bgcolor);
}

.mainbutton:active{
    background-color: var(--mainButtons-active-bgcolor);
    
}



label, legend{
    margin-bottom:3px;
}

label{
    margin:0px 10px 0px 0px;
}


/* just for the page count for now */
.formlabel{
align-items:baseline;
}





/* CONTAINER FOR BOOK CARDS */
.cardcontainer{
    padding:10px;
    margin:40px;
    display:grid;
    gap:10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: fit-content;
}

.bookCard{
    padding:20px;
    border-radius:15px;
    background-color: var(--bookCard-bgcolor);
    white-space: pre-line;
    width:200px;
    animation: append-animate .2s ease-out;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.2);
    display:grid;
    grid-template-columns: 6ch 1fr;
    grid-template-rows: repeat(4,1fr) 2fr;
    gap:10px;
}


.bcBold{
    font-weight:bold;
}


.bcTitle{
    grid-area: 1 / 1 / 2 / 2;
}

.bcTitleFill{
    grid-area: 1 / 2 / 2 / 3;
}

.bcAuthor{
    grid-area: 2 / 1 / 3 / 2;
}

.bcAuthorFill{
    grid-area: 2 / 2 / 3 / 3;
}

.bcPageCount{
    grid-area: 3 / 1 / 4 / 2;
}

.bcPageCountFill{
    grid-area: 3 / 2 / 4 / 3;
}

.switchicon{
    grid-area: 4 / 1 / 5 / 2 ;
    justify-self:end;
}

.readstatusbutton{
    grid-area: 4 / 2 / 5 / 3 ;
    width:12ch;
    /* border-radius:10px; */
   justify-content:center;
}

.removerbutton{
    grid-area: 5 / 1 / 6 / 3;
    justify-self:end;
    align-self:end;
    border-radius:10px;
    background-color:var(--removerButton-bgcolor);
    
    
}

.removerbutton:hover{
    background-color:var(--removerButton-hover-bgcolor);
    font-style:italic;
    
}

.removerbutton:active{
    background-color: var(--removerButton-active-bgcolor);
    font-style:italic;
    font-weight:bolder;
}


.bookcardbutton{
    display:inline-flex;
    align-items: center;
    justify-items: center;
    height:1.8em;
    padding:8px 12px 8px 12px;
    box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
}

.read{
    background-color: var(--readButton-bgcolor);
    color:var(--read-textcolor);
    font-weight:bolder;

    /* this works but not using */
    /* text-decoration: wavy underline lime;
    text-underline-position:under;     */
}

.read:hover{
    /* background-color: var(--readButton-hover-bgcolor); */
    /* transform: scale(1.05); */
    font-style:italic;
}

.read:active{
    background-color: var(--readButton-active-bgcolor);
    font-style:italic;
   
}

.unread{
    background-color: var(--unreadButton-bgcolor);
    color:var(--unread-textcolor);
    
}

.unread:hover{
    /* background-color: var(--unreadButton-hover-bgcolor); */
    font-style:italic;
   
}

.unread:active{
    background-color: var(--unreadButton-active-bgcolor);
    font-style:italic;
    
    
}